@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700,800&display=swap');
*{
			margin:0;
			padding:0;
			font-family: 'Josefin Sans';
}
img.sticky{
  position: fixed;
  -webkit-transform: rotate(540deg);
  float:right;
  border:2px solid black;
  z-index: 1;
}
body{
	background-image: url('./bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: scroll;
}
html{
			scroll-behaviour:smooth;
	}
.navbar-default .navbar-brand {
    height:60px;
    padding:12px 8px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: orange !important;
    border-bottom:2px solid orange;
}
.navbar-default .navbar-nav > li > a{
    color: black !important;
    font-size:15px;
}
main .free img{
  width:100%;
  margin-top: -70px;
}
main
{
  width: 100%;
  display: flex;
  letter-spacing: 1px;
  padding: 4%;
  align-items: center;
  margin-top: 45px;
}
main .left
{
  padding-left: 5%;

}
.left h2
{
  font-size: 35px;
  text-transform: capitalize;
  color: #555;
}
main .left img{
  float: right;
  width:30%;
  margin-top: -70px;
}
.left .tag
{
  color: crimson;
  text-shadow: 1.5px 1.5px 1.5px #004;
}
footer{
  font-size:18px;
  font-weight: 900;
  color:black;
  text-shadow: 1.5px 1.5px 1.5px grey;
}
@media only screen and (max-width: 960px)
{
.navbar-default .navbar-brand {
    height:45px;
    padding:10px 8px;
}
.left h2{
  font-size: 25px;
}
main{
  margin-top: 40px;
  margin-left:2%;
}
main .left img{
  margin-top:1%;
  width:35%;
  }
main .card{
  margin-left:5%;
  display:flex !important;
  flex-direction:horizontal;
  margin-bottom:20px;
  box-shadow:1.5px 1.5px 1.8px grey;
  }
main .card img{
  width:70px !important;
}
main .card .card-block .card-text{
  padding:5px;
  }
.left h3{
  font-size:18px;
  font-weight: 500;
}
.working img{
  width:50px !important;
}
.fa-3x{
  font-size:1em;
}
.working p{
  margin-top:10px;
  font-size:13px;
}
.working .row{
  display:flex !important;
  flex-direction: horizontal;
}
main table{
  margin-left:2% !important;
}
main .free img{
  width:50% !important;
  margin-left:20%;
}
main .jee{
  display:flex;
  flex-direction: horizontal;
}
main .jee img{
  width:200px !important;
}
main .neet{
  display:flex;
  flex-direction: horizontal;
}
main .neet img{
  width:200px !important;
}
footer{
  font-size:15px;
  font-weight: 700;
  text-shadow: 1.2px 1.2px 1.2px grey;
}
}